@import 'form.css';
@import 'image.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    width: 100%;
    height: 100%;
    position: relative;
}

.slider img {
    width: 100%;
    height: 100%;
    /* border-radius: 7px; */
}

.btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.btn button {
    background: none;
    outline: none;
    border: none;
    color: red;
}

.btn button i {
    font-size: 30px;
}

.btn button:hover i {
    color: #95a5a6;
}
